*{
   font-family: 'Open Sans', sans-serif;
   margin:0;
    padding:0;
    cursor: default;
}
aside{
    user-select: none;
    color:white;
    display: flex;
    flex-direction: column;
    text-align: center;
   align-items: center;
    background-color: red;
    border-right: 5px solid white;
    height:100vh;
    width:250px;
    position: fixed;
    box-shadow: 2px 1px 10px rgb(159 159 159);
}
.defaultcursor{
    cursor: default;
}
aside h3{
    color:rgb(70 255 70);
    background-color: rgb(206, 16, 16);
    padding:8px;
    border-radius:5px;
}
#asideh4{
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    color: black;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;
    cursor: pointer;
    border:none;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 1px 1px 2px rgb(94, 94, 94);
    transition-property:all;
    transition-duration: 0.3s;
    position: absolute;
    bottom:20px;
}

#asideh4:hover{
   transform: scale(1.05);
}
#img1{
    filter: invert();
    width:10%;
    margin-top:15px;
}
#img2{
    width: 60%;
}
#img3{
    width:16%;
    margin-right:3px;
    cursor: pointer;
}
div{
    margin-left: 270px;
   
}
div h1{
    padding-top: 20px;
    font-size: 60px;
}
div h2{
    font-size: 35px;
}
#myInput,#myInput2{
    font-size:16px;
    margin-top:30px;
    padding:5px;
   width:1216px;
   cursor:text;
}
#tableclass,#tableclass2{
    padding:0;
    margin-top:20px;
}
#tableclass table,#tableclass2 table{
    border:2px solid black;
    width:1228px;
    text-align: center;
    padding: 0;
    margin:0;
    background-color: black;
}
#tableclass th,#tableclass2 th{
    background-color: white;
    border:1px solid black;
    margin:0;
    padding:5px;
    background-color: red;
    color:white;
}
#tableclass td,#tableclass2 td{
    background-color: white;
    border:1px solid black;
    margin-left:0;
    padding:0;
}
footer{
    z-index: -1;
    padding-bottom: 20px;
    position: absolute;
    bottom:0;
    text-align: center;
    width:100%;
}
footer img{
    width:18px;
}