body{
    position: relative;
    margin:0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    height: 100vh;
}
.container{
   display: flex;
   align-items: center;
   justify-content: center;
    width:100%;
    height: 100%;
    
}
.innercontainer{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 34px  rgb(161, 161, 161);
    margin: 10px;
    border-radius: 12px;
}
.headofform{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
#phead{
    font-size: 22px;
    font-weight: 600;
}
.headofform p{
    font-size: 18px;
}
.headlinks{
    display: flex;
    position: relative;
}
.headlinks p{
    cursor: pointer;
}
#p1{
    color:red;
    margin-right:8px;
}

#hr1{
    top:35px;
    position: absolute;
    width:130px;
    height:3px;
    background-color: red;
    border-radius: 4px;
    border: none;
    animation-name: test1;
    animation-duration: 0.5s;
}
@keyframes test1{
    from{
        width:0px;
    }
    to{
        width: 130px;
    }
}

#hr2{
    display: none;
    top:35px;
    left:138px;
    position: absolute;
    width:100px;
    height:3px;
    background-color: red;
    border-radius: 4px;
    animation-name: test2;
    animation-duration: 0.5s;
    border: none;
}
@keyframes test2{
    from{
        width:0px;
    }
    to{
        width: 100px;
    }
}
#smallcarr{
    width:65px;
}



.twoparts{
    background: white;
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(2,auto);
    padding:20px;
    border-radius: 12px;
}

.twoparts p{
    font-size: 14px;
    margin-bottom:4px;
    font-weight: 600;
}

.lightgrey1{
    background: rgb(218 214 214 / 58%);
    padding:20px;
    border-radius: 5px;

}
.lightgrey1 h2{
    text-align: center;
}

.fp1, .fp3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
}
#fp12{
    cursor:not-allowed;
    user-select:text;
}
.fp4{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 22px;
}
.div1{
    margin-left:0;
    margin-right:68px;
}
.fp2, .fp5{
    margin-bottom:12px;
    overflow: hidden;
}
#fp51{
    width: 83%;
    padding-left:45px;
}
.smallwidth{
    width: 80px;
}
.mediumwidth{
    width:120px;
}
.fullwidth{
    width:100%;
}
.tryingit{
    bottom:0;
    position: absolute;
    width: 400px;
    height: 400px;
    right:0;
    z-index: -3;
    user-select: none;
}
.tryingit2{
    top:0;
    position: absolute;
    width: 400px;
    height: 400px;
    left:0;
    z-index: -4;
    user-select: none;
    rotate: 180deg;
}
.tryingit3{
    bottom:0;
    position: absolute;
    width: 430px;
    height: 330px;
    left:0;
    z-index: -3;
    user-select: none;
}
.hopes{
    position: relative;
}
#hopesimg{
    width:16px;
    position: absolute;
    bottom:3.9px;
    left: 25px;
}
#hopesh6{
    position: absolute;
    left:5px;
   top:1.3px;
}
.settingpadding{
    outline: none;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 3px;
    font-size: 13px;
    padding:3px;
}
#fp12{
    background-color:rgb(201, 201, 201);
}



.lightgrey2{
    background: rgb(218 214 214 / 58%);
    padding: 20px;
    border-radius: 5px;
}
.lightgrey2 h2{
    text-align: center;
}
.fp6{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 10px;
    margin-bottom:20px;
}
.fp6 div{
    padding-left:10px;
    padding-right:10px;
    color: white;
    box-shadow: 1px 1px 12px rgb(169, 169, 169);
    border-radius: 3px;
    text-align: center;
}
.fp6div1{
    background-color: rgb(3, 205, 3);
}
.fp6div2{
    background-color: red;
}
.fp6 div h4{
    margin-top:13px;
}
#fp61,#fp62{
    user-select: none;
}
#fp71,#fp81{
    background-color:rgb(201, 201, 201);
    cursor:default;
    width:96%;
    margin-bottom:10px
}
.checking{
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top:20px;
}
.checking p{
    font-size:13px;
    margin-top: 4px;
}
.checking p a{
    color:rgb(20, 89, 206)
}
.submitbtn{
    border-radius: 4px;
    cursor: pointer;
    margin-top:42px;
    border: none;
    color:white;
    background-color: red;
    font-weight: 600;
    font-size: 18px;
    padding:10px;
}
.submitbtn:hover{
    background-color: rgb(224, 1, 1);
}
.submitbtn:active{
    background-color: rgb(211, 0, 0);
}
#greybtn{
    color:rgb(187, 187, 187);
    user-select: none;
    cursor:not-allowed;
}
.makeitwhite{
    background-color: white;
}
@media(max-width:450px){
    .container{
        width:350px;
        margin-left: 6.5%;
    }
    #p1,#p2{
        font-size: 14px;
    }
    #hr1{
        width:95px;
    }
    #hr2{
        width:70px;
        left:115px;
    }
    @keyframes test1{
        from{
            width:0px;
        }
        to{
            width: 95px;
        }
    }
    @keyframes test2{
        from{
            width:0px;
        }
        to{
            width: 70px;
        }
    }
}
@media (max-width:640px){
    .twoparts{
        grid-template-columns: repeat(1,auto);
    }
    .container{
        margin-top: 250px;
    }
}
@media(max-width:1496px){
    .tryingit3{
        display: none;
    }
    
}
@media(max-width:400px){
    .tryingit,.tryingit2{
        
        width:120px;
    }
    
}