* {
    font-family: 'Open Sans', sans-serif;

}

body {
    height: 97vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tc1 {
   background-color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
  margin:10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(169, 169, 169);
}

.tc2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;

}

.tc3 {
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
}

.tc3 img {
    width: 30px;
    filter: invert();
    margin-right: 5px;
    margin-left: 8px;
}

.tc4 {
    display: flex;
    color: white;
    margin-right: 8px;
}

.tc5 {
   
    width: 100%;
    height: 180px;
}

.tc5 img {
   float: right;
    left: 305px;
    top: -10px;
    width: 20%;
    margin: 8px;
}

.tc5 p {
   
    margin-left: 8px;
    margin-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.tc5 h4 {
    
    margin-left: 8px;
    margin-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 7px;
}

hr {
    margin-top: 10px;
    width: 99%;
    border: 2px dotted black;
    margin-bottom: 10px;
}

#sh1 {
    font-size: 22px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.tc6 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    width:100%;
    height:60px;
    text-align: center;
}

.tc6 h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.tc7 {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
}

.tc7 h5 {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 2px;
}

.tc7 p {
    font-size: 12px;
    margin-top: 0px;
    text-align: center;
}

.tc7 img {
    margin-top:10px;
    filter: invert();
    width: 180px;
}
#sprinklesgif{
    z-index: -2;
    width:50%;
    position: absolute;
}
#donebtn{
    font-size: 16px;
    font-weight: 600;
    margin-top:15px;
    margin-bottom: 20px;
    background-color: red;
    color:white;
    opacity:0.8;
    border:none;
    padding:10px;
    border-radius:8px;
    cursor: pointer;
    box-shadow: 1px 2px 5px 0px rgb(198, 198, 198);
}
#donebtn:hover{
   opacity: 1;
}
@media (max-width:408px) {
    .tc1{
        width: 330px;
    }
}